// links that look like buttons
.button {
    background: lighten($dark-blue, 20%);
    border: none;
    border-radius: 4px; // rounded button corners
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;   // normal (not bold)
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button:disabled {
    opacity: .5;
}
.button:hover {
    background: lighten($dark-blue, 10%);
}


.button-login {
    @extend .button;
    $font-size: $font-size-small;
    margin-bottom: $s-size;
    width: 17rem;
}

// buttons that look like links
.button--link {
    background: none;
    border: none;
    color: white;
}

// remove button colour
.button--secondary {
    background: #888888;
}

// button deny remove
.button--deny {
    background: red;
    font-weight: 700;
}

.button--confirm {
    background: green;
    font-weight: 700;
}

// facebook login button colour
.button--facebook {
    background: $facebook;
}

// github login button colour
.button--github {
    background: #24292e;
}
.button--github:hover {
    background: darken($github, 10%);
}

.button--facebook:hover {
    background: darken($facebook, 10%);
}

// google login button colour
.button--google {
    background: $google;
}
.button--google:hover {
    background: darken($google, 10%);
}

// twitter login button colour
.button--twitter {
    background: $twitter;
}
.button--twitter:hover {
    background: darken($twitter, 10%);
}

.button-logo {
    // display: inline-block;
}
