.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 500ms ease-in-out;
}

.ReactModalPortal > div {
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay__before-close {
    opacity: 0;
}

.modal {
    background: $dark-blue;
    color: white;
    outline: none;
    padding: $l-size;
    text-align: center;
    width: 20rem;
}
.modal__title {
    margin: 0 0 $l-size 0;
}
.modal__buttons {
    display: flex;
    justify-content: space-between;
}
